@page "/"

<div class="jumbotron text-center">
    <h1 class="display-4">Välkommen hem!</h1>
    <p class="lead">Här kan du njuta av en mysig atmosfär med fantastiskt kaffe och läckra bakverk.</p>
</div>

<Carousel/>

