<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <div class="row text-center">
            <div class="col-sm">
                <h5>🕛 Öppettider</h5>
                <small>
                    Mån - Fre: 07:00 - 20:00<br>
                    Lör - Sön: 08:00 - 18:00
                </small>
            </div>
            <div class="col-sm">
                <h5>📍 Plats</h5>
                <small>
                    123 Kafégatan,<br>
                    421 78 Göteborg
                </small>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-12 text-center">
                <p>© 2023 CuziCuza Café. All rights reserved.</p>
                <p>
                    <a href="#" class="text-dark">Terms of Use</a> /
                    <a href="#" class="text-dark">Privacy Policy</a>
                </p>
            </div>
        </div>
    </div>
</footer>
