@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized Context="context">
        @{
            var fullName = context.User.Identity?.Name;
            var firstName = fullName?.Split(' ')[0];
        }
        <span class="greeting">Hej, @firstName!</span>
        <a class="logout-link" @onclick="BeginLogOut">Logga ut</a>
    </Authorized>
    <NotAuthorized>
        <a href="authentication/login">Logga in</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    public void BeginLogOut()
    {
        Navigation.NavigateToLogout("authentication/logout");
    }
}
