@inherits LayoutComponentBase

<div class="page">
    <div class="top-row px-4 auth">
        <NavMenu />
    </div>

    <main>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <article class="content px-4">
                        @Body
                    </article>
                </div>
            </div>
        </div>
    </main>

    <Footer />
</div>
