<section id="reviews" class="text-center my-5">
    <h2 class="mb-4">Vad våra kunder säger</h2>
    <div class="row">
        <div class="col-lg-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">"Fantastiskt kaffe och atmosfär! Personalen är alltid vänlig och jag älskar verkligen de hemgjorda bakverken."</p>
                    <h5 class="card-title">- Anna "KaffeDräkten" Larsson</h5>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">"Mitt favoritställe att arbeta ifrån. Wifi är snabbt, kaffet är starkt, och inredningen är så mysig."</p>
                    <h5 class="card-title">- Erik "Snusmun" Johansson"</h5>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">"Jag besöker CuziCuza varje gång jag är i staden. Det är ett måste för alla kaffeälskare!"</p>
                    <h5 class="card-title">- Hammad "WifiTjuven" Habib</h5>
                </div>
            </div>
        </div>
    </div>
</section>
