/* NavMenu.razor.css */
.navbar[b-7na4b8775y] {
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
}

.navbar-brand[b-7na4b8775y] {
    color: #343a40;
    font-family: 'Amatic SC', cursive;
    font-size: 1.5em;
}

.nav-link[b-7na4b8775y] {
    color: #495057;
    font-family: 'Amatic SC', cursive;
    font-size: 1.2em;
    transition: color 0.5s ease;
}

    .nav-link:hover[b-7na4b8775y] {
        color: #6c757d;
    }

    .nav-link.active[b-7na4b8775y] {
        color: #6c757d;
        border-bottom: 2px solid #6c757d;
    }